<div class="end-registration-temp" ng-controller="mainCtrl" >
<div class="headerEndRegistration">
    <h3>Завершение регистрации</h3>
</div>
    <div class="end_registration">
        <div class="social_end_reg">
            <p>Используйте социальные сети<br>
                для быстрой регистрации</p>
            <button class="btn btn-default btn-google"> <i class="fa fa-google-plus" aria-hidden="true"></i>Google +</button>
            <button class="btn btn-default btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</button>
            <button class="btn btn-default btn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</button>
        </div>
        <div class="middle"> <div class="line"></div><div class="or_end_registr">or</div><div class="line"></div> </div>
        <div class="fill_end_registration">
            <div class="login-email">
            <input type="text" placeholder="Имя Фамилия" class="form-input" ng-model="password">
            <input type="email" placeholder="E-mail" ng-model="email">
            <input type="tel" placeholder="Your Phone" >
            <input type="text" placeholder="City" >
                <div class="downLoadPhoto">
                    <!--<img src="../img/avatar.png" ><a  name="myFile" type="file">Добавить фото</a>-->
                    <img src="../img/avatar.png">
                    <label for="uploadbtn" class="uploadButton">Добавить фото</label>
                    <input style="opacity: 0; z-index: -1;" type="file" name="upload" id="uploadbtn">

                </div>
            <button class="btn btn-default reg-button" ng-click="endRegistration();createUser()">Зарегистрироваться</button>
        </div>
        </div>
    </div>
</div>
<!--
Добро пожаловать!
Вы успешно зарегистрированы на сервисе YouDo. Регистрационные данные отправлены на вашу почту и указаны под этим сообщением.

Обязательно сохраните ваш доступ к сайту:

Логин: paerrer@vbr.ru
Пароль: hy8solpru
Хотите стать исполнителем YouDo?

Закрыть-->
